.container {
  margin: auto;
  height: auto;
  width : auto;
}
.navbar {
  width: 100%;
  height: 3.75rem;
 background-color: #631919;
 color:white;
 display:flex;
 align-items: center;
 box-shadow: 0px 3.789px rgba(0,0,0,1);
}
.navbar > img {
  width: 3.125rem;
  height: 3.75rem;
  margin: 0.625rem;

}
.alert{
  text-align:center;
  overflow: hidden;
  border-radius: 4px;
  background-color: azure;
  width: 80px;
  padding-top: 5px;
  position: absolute;
  left: 650px;
  top : 200px;
  height: 30px;
  visibility: hidden;
  display: flex;

}
@keyframes alert-notice {
  0% {visibility : hidden;}
  100% {visibility: visible;}
}
.maincontent {
  margin-top: 9.375rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.row {
  display : flex;
  align-items: center;
}
.input{
  height: min(8vh ,60px);
  width: min(6vw, 50px);
  border-radius: 8px;
  border-color:aliceblue;
  display: inline-block;
  margin: 0.625rem;
  color: white;
  text-align: center;
  padding: 0.625rem;
  border: 1px;
  border-style: solid;
  font-size : 2rem;
  background-color: #3a3a3c;
  font-weight: 500;
  transform-style:flat;
}
.banner {
  display: none;
  margin: auto;
  position: absolute;
  left : max(37.45vw , 37.45vh);
  top : 20vh;
  width : 25vw;
  height : auto;
  border-radius : 8px;
  z-index: 1000;
  background-color: #3a3a3c;
  border-color:aliceblue;
  border-style: solid;
  line-height: 0%;
}
.copyScore {
  background-color: green;
  color: white;
  border-style: none;
  border-radius: 8px;
  height:auto;
  font-size: 2rem;
  margin: 0.625rem;
  display: inline-flex;
  text-align: center;
  align-items: center;
}
#banner-data {
  margin-block: 1.25rem;
  display:flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 1.5rem;
}
.closeButton {
  background-color: azure;

  position : relative;
  left: 10vw;
  top: 1vh;
}
.virtKeyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  height: auto;
}
.virtKey {
  width: min(5vw, 50px);
  overflow:hidden;
  height: min(5vh, 50px);
  background-color: azure;
  color: black;
  border-radius: 4px;
  border-style: solid;
  border-color:azure;
  border-width: 1px;
  font-size: 2vh;
  font-weight: 500;
  margin: max(10px,0.125rem);
}
@keyframes maybe {
  0% { background-color : #3a3a3c;
    transform: transformX(0deg);
    }

  10% { background-color : #3a3a3c;
    transform: rotateY(36deg);
    }
  20% { background-color : #3a3a3c;
    transform: rotateY(72deg);
    }
  30% { background-color : #3a3a3c;
    transform: rotateY(108deg);
    }
  40% { background-color : #3a3a3c;
    transform: rotateY(144deg);
    }
  50% { background-color : #3a3a3c;
    transform: rotateY(180deg);
    }
  60% { background-color : #3a3a3c;
    transform: rotateY(216deg);
    }
  70% { background-color : #3a3a3c;
    transform: rotateY(252deg);
    }
  80% { background-color :  #d3b703;
    transform: rotateY(288deg);
    }
  90% { background-color :  #d3b703;
    transform: rotateY(324deg);
    }
  100% { background-color :  #d3b703;
    transform: rotateY(360deg);
    }
  }
  @keyframes wrong {
  0% { background-color : #3a3a3c;
    transform: transformX(0deg);
    }

  10% { background-color : #3a3a3c;
    transform: rotateY(36deg);
    }
  20% { background-color : #3a3a3c;
    transform: rotateY(72deg);
    }
  30% { background-color : #3a3a3c;
    transform: rotateY(108deg);
    }
  40% { background-color : #3a3a3c;
    transform: rotateY(144deg);
    }
  50% { background-color : #3a3a3c;
    transform: rotateY(180deg);
    }
  60% { background-color : #3a3a3c;
    transform: rotateY(216deg);
    }
  70% { background-color : #3a3a3c;
    transform: rotateY(252deg);
    }
  80% { background-color : #3a3a3c;
    transform: rotateY(288deg);
    }
  90% { background-color : #3a3a3c;
    transform: rotateY(324deg);
    }
  100% { background-color : #3a3a3c;
    transform: rotateY(360deg);
    }
}
@keyframes correct {
  0% { background-color : #3a3a3c;
    transform: transformX(0deg);
    }

  10% { background-color : #3a3a3c;
    transform: rotateY(36deg);
    }
  20% { background-color : #3a3a3c;
    transform: rotateY(72deg);
    }
  30% { background-color : #3a3a3c;
    transform: rotateY(108deg);
    }
  40% { background-color : #3a3a3c;
    transform: rotateY(144deg);
    }
  50% { background-color : #3a3a3c;
    transform: rotateY(180deg);
    }
  60% { background-color : #3a3a3c;
    transform: rotateY(216deg);
    }
  70% { background-color : #3a3a3c;
    transform: rotateY(252deg);
    }
  80% { background-color : green;
    transform: rotateY(288deg);
    }
  90% { background-color : green;
    transform: rotateY(324deg);
    }
  100% { background-color : green;
    transform: rotateY(360deg);
    }
}
@keyframes win {
  0%, 100% { transform : translateY(0);
  background-color: green;} 
  50% {
      transform : translateY(-10px);
      background-color: green;
  }
}
@keyframes clicked {
  0% {background-color: azure;}
  100% {background-color: black;}
}
@keyframes clicked-score {
  0% {background-color: green;}
  100% {background-color: black;}
}