.container {
  margin-top: auto;
  margin-inline: auto;
  height: auto;
  width : 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.navbar {
 width: 100%;
 height: 3rem;
 background-color: #631919;
 color:white;
 display:flex;
 align-items: center;
 box-shadow: 0px 3.789px rgba(0,0,0,1);
}
.navbar > img {
  width: 10%;
  max-width: 50px;
  height: 3.1rem;
  margin: 0.9%;

}
.alert{
  text-align:center;
  z-index: 10000;
  overflow: hidden;
  border-radius: 4px;
  background-color: azure;
  width: auto;
  padding: 0.25rem;
  position: absolute;
  align-items: center;
  left: 42vw;
  top : 15vh;
  height: min(4.9% ,1.5rem);
  visibility: hidden;
  display: flex;
}
@media only screen and (min-width : 600px) {
  .alert {
    left: 47%;
    top : 20%;
  }
}
@keyframes alert-notice {
  0% {visibility : hidden;}
  100% {visibility: visible;}
}
.maincontent {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-inline: 20vw;
}
.row {
  display : flex;
  overflow : auto;
  align-items: center;
  width: auto;
  height: auto;
  margin-inline: inherit;
}
.input{
  height: min(20.6%, 1.8rem);
  min-height: 1.8rem;
  min-width: 1.6rem;
  width: min(20.6% , 1.6rem);
  border-radius: 8px;
  border-color:aliceblue;
  display: inline-block;
  align-items: center;
  display: inline-block;
  margin-block: 0.2rem;
  margin-inline: 0.1rem;
  color: white;
  text-align: center;
  padding: 0.5rem;
  border: 1px;
  border-style: solid;
  font-size : 1.5rem;
  background-color: #3a3a3c;
  font-weight: 300;
  transform-style:flat;
}
.banner {
  display: none;
  flex-direction: column;
  align-items: center;
  margin: inherit;
  position: absolute;
  left : 26vw;
  top : 10vh;
  width : min(50%, 15rem);
  height : auto;
  border-radius : 8px;
  border-style: none;
  z-index: 1000;
  background-color: #3a3a3c;
  border-color:aliceblue;
  border-style: solid;
  line-height: 0%;
}
@media only screen and (min-width : 600px) {
  .banner {
    left: 40%;
    top : 18%;
  }
}
.copyScore {
  background-color: green;
  color: white;
  border-style: none;
  border-radius: 8px;
  height:auto;
  font-size: 1rem;
  margin: 0.91%;
  display: inline-flex;
  text-align: center;
  align-items: center;
}
#banner-data {
  font-size : 0.8rem;
  margin-block: 1.25rem;
  display:flex;
  flex-direction: column;
  width : 80%;
  align-items: center;
  color: white;
}
.closeButton {
  background-color: azure;
  position : absolute;
  left: min(40vw ,210px);
  top: 1vh;
}
.virtKeyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  margin-block: 0.45rem;
}
.virtKey {
  width: min(2rem, 50px);
  overflow:hidden;
  height: min(2.1rem, 55px);
  background-color: azure;
  color: black;
  border-radius: 4px;
  border-style: solid;
  border-color:azure;
  border-width: 1px;
  font-size: 0.9rem;
  font-weight: 500;
  margin: 1px; 
}
@keyframes maybe {
  0% { background-color : #3a3a3c;
    transform: transformX(0deg);
    }

  10% { background-color : #3a3a3c;
    transform: rotateY(36deg);
    }
  20% { background-color : #3a3a3c;
    transform: rotateY(72deg);
    }
  30% { background-color : #3a3a3c;
    transform: rotateY(108deg);
    }
  40% { background-color : #3a3a3c;
    transform: rotateY(144deg);
    }
  50% { background-color : #3a3a3c;
    transform: rotateY(180deg);
    }
  60% { background-color : #3a3a3c;
    transform: rotateY(216deg);
    }
  70% { background-color : #3a3a3c;
    transform: rotateY(252deg);
    }
  80% { background-color :  #d3b703;
    transform: rotateY(288deg);
    }
  90% { background-color :  #d3b703;
    transform: rotateY(324deg);
    }
  100% { background-color :  #d3b703;
    transform: rotateY(360deg);
    }
  }
  @keyframes wrong {
  0% { background-color : #3a3a3c;
    transform: transformX(0deg);
    }

  10% { background-color : #3a3a3c;
    transform: rotateY(36deg);
    }
  20% { background-color : #3a3a3c;
    transform: rotateY(72deg);
    }
  30% { background-color : #3a3a3c;
    transform: rotateY(108deg);
    }
  40% { background-color : #3a3a3c;
    transform: rotateY(144deg);
    }
  50% { background-color : #3a3a3c;
    transform: rotateY(180deg);
    }
  60% { background-color : #3a3a3c;
    transform: rotateY(216deg);
    }
  70% { background-color : #3a3a3c;
    transform: rotateY(252deg);
    }
  80% { background-color : #3a3a3c;
    transform: rotateY(288deg);
    }
  90% { background-color : #3a3a3c;
    transform: rotateY(324deg);
    }
  100% { background-color : #3a3a3c;
    transform: rotateY(360deg);
    }
}
@keyframes correct {
  0% { background-color : #3a3a3c;
    transform: transformX(0deg);
    }

  10% { background-color : #3a3a3c;
    transform: rotateY(36deg);
    }
  20% { background-color : #3a3a3c;
    transform: rotateY(72deg);
    }
  30% { background-color : #3a3a3c;
    transform: rotateY(108deg);
    }
  40% { background-color : #3a3a3c;
    transform: rotateY(144deg);
    }
  50% { background-color : #3a3a3c;
    transform: rotateY(180deg);
    }
  60% { background-color : #3a3a3c;
    transform: rotateY(216deg);
    }
  70% { background-color : #3a3a3c;
    transform: rotateY(252deg);
    }
  80% { background-color : green;
    transform: rotateY(288deg);
    }
  90% { background-color : green;
    transform: rotateY(324deg);
    }
  100% { background-color : green;
    transform: rotateY(360deg);
    }
}
@keyframes win {
  0%, 100% { transform : translateY(0);
  background-color: green;} 
  50% {
      transform : translateY(-10px);
      background-color: green;
  }
}
@keyframes clicked {
  0% {background-color: azure;}
  100% {background-color: black;}
}
@keyframes clicked-score {
  0% {background-color: green;}
  100% {background-color: black;}
}